@font-face {
    font-family: inria;
    src: url(../fonts/Inria_Serif/InriaSerif-Regular.ttf);
  }

body, html {
  cursor: default;
  background-color: #000;
}

body, html, * {
    font-family: inria;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

/*
** HOMEPAGE STYLESHEET
**
*/

.home {
  display: grid;

  /* height: 1000px;
  width: 100%; */

  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(3,1fr);  */
  grid-template-rows: 300px 400px 400px;
  grid-template-areas: 
    "header header header"
    "description title none"
    "section . menu"
    ;

  gap: 20px;

  background-image:  url(/assets/pics/industrial_2.jpg);
  background-size: cover;
}

.home .header {
  grid-area: header;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  /* border: 2px solid black; */
  width: 100%;
  flex-wrap: wrap;
  align-self: baseline;
  align-items: center;
  justify-content: space-around;
}

.home .header>.title {
  background-color: inherit;
  border-width: 2px;
  /* border-style: solid; */
  text-align: left;
  flex: 1;
  height: auto;
  font-size: 3rem;
}

.home .header>.logo {
  background-color: inherit;
  /* border-width: 2px;
  border-style: solid; */
  text-align: center;
  flex: 1;
  height: 200px;
}

.home .header>.logo>img {
  height: inherit;
  width: inherit;
  background-color: transparent;
}

.home .header>.logo>img:hover {
  cursor: pointer;
}

.home .header>.contatti{
  background-color: inherit;
  border-width: 2px;
  /* border-style: solid; */
  text-align: center;
  flex: 1;
  height: auto;
  display: flex;
}

.home .header>.contatti>span{
  background-color: inherit;
  border-width: 2px;
  /* border-style: solid; */
  text-align: left;
  flex: 1;
  justify-content: space-around;
  height: auto;
  font-size: 2rem;
}

.home .header>.contatti>span:hover {
  cursor: pointer;
}

.home>.description{
  width: 400px;
  justify-self: center;
  align-self: baseline;
  grid-area: description;
  background-color: transparent;
  font-size: 23px;
}

.home>.title {
  /* border-width: 2px;
  border-style: solid; */
  background: transparent;
  grid-area: title;
  justify-self: center;
  align-self: center;
  font-size: 80px;
  text-align: center;
}

.home>.section {
  font-size: 2rem;
  grid-area: section;
  justify-self: left;
  align-self: flex-end;
}

.home>.menu {
  grid-area: menu;
  align-self: flex-end;
  background-color: #000;
  display: flex;
}

.home>.menu>div {
  flex: 1;
  height: 1fr;
  justify-content: right;
  align-items: flex-end;
}

.home>.menu>div:hover {
  cursor: pointer;
}

.home>.menu>div>.num {
  font-size: 40px;
}

.home>.menu>div>.description {
  font-size: 20px;
  width: 1fr;
}

/*
** GALLERY STYLESHEET
**
*/

.gallery>.gallery-title {
  text-align: center;
  font-size: 40px;
}

.gallery>.gallery-title:hover {
  cursor: pointer;
}

.gallery>.gallery-flex {
  display: flex;
  background-color: transparent;
  flex-direction: row;
  width: 100%;
  height: 400px;
  justify-content: right;
  align-content: center;
}

.gallery>.gallery-flex>.left-arrow{
  flex: 1;
  height: inherit;
  display: flex;
  flex-direction: row-reverse;
  }

.gallery>.gallery-flex>.gallery-pic{
  flex: 1;
  height: inherit;
}

.gallery>.gallery-flex>.right-arrow{
  flex: 1;
  height: inherit;
  display: flex;
}

.gallery>.gallery-flex>.left-arrow>img {
  height: 150px;
  justify-self: right;
  align-self: center;
}

.gallery>.gallery-flex>.left-arrow>img:hover {
  cursor: pointer;
  filter: brightness(0.70);
}

.gallery>.gallery-flex>.gallery-pic>img {
  height: inherit;
}

.gallery>.gallery-flex>.gallery-pic>img:hover {
  cursor: pointer;
  filter: brightness(0.70);
}


.gallery>.gallery-flex>.right-arrow>img {
  height: 150px;
  align-self: center;
  justify-self: left;
}

.gallery>.gallery-flex>.right-arrow>img:hover {
  cursor: pointer;
  filter: brightness(0.70);
}

.gallery>.gallery-flex .blank {
  width: 30px;
}


/*
** FOOTER STYLESHEET
**
*/

.footer {
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.footer>.logo {
  height: 200px;
}

.footer>.logo>img {
  height: inherit;
}

.footer>.logo>img:hover {
  cursor: pointer;
}

.footer>.info {
  align-self: center;
}

.footer>.menu {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer>.menu:hover {
  cursor: pointer;
}

.footer .blank {
  height: 15px;
}








/*
** MEDIA QUERY BREAKPOINTS
**
*/


/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 

@media (max-width:1450px)  
{

  .home {
    grid-template-rows: 160px 300px 160px;
    gap: 10px;
  }
  
  .home .header>.title {
    font-size: 2rem;
  }

  .home .header>.logo {
    height: 150px;
  }

  .home .header>.contatti>span{
    font-size: 22px;
  }

  .home>.description {
    width: 250px;
    font-size: 15px;
  }

  .home>.title {
    font-size: 50px;
  }

  .home>.menu>div>.num {
    font-size: 25px;
  }

  .home>.menu>div>.description {
    font-size: 10px;
    width: 1fr;
  }

  .home>.section {
    font-size: 22px;
  }

  .gallery>.gallery-title {
    font-size: 25px;
  }

  .gallery>.gallery-flex {
    height: 350px;
  }

  .footer {
    font-size: 15px;
  }

  .footer>.logo {
    height: 150px;
  }
}
/* @media (min-width:480px)  { smartphones, Android phones, landscape iPhone } */
/* @media (min-width:600px)  { portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) } */
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }