.subheader {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80px;
    font-size: 2rem;
    background-color: transparent;
}

.subheader>div {
    flex: 1;
    height: auto
}

#sub-ad {
    text-align: center;
    color: #517965;
    align-self: flex-end;
}

#search {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#search>div{
    flex: auto;
    text-align: right;
}

#search input {
    outline: none;
    border: none;
    border-bottom: 1px solid#fff;
    font-size: 22px;
    background-color: transparent;
    color: #fff;
}

::placeholder {
    color: #828282;
    font-size: 22px;
}

#search button {
    background-color: transparent;
    border: none;
}

#search button>img {
    height: 30px;
}

#search button>img:hover {
    cursor: pointer;
    filter: brightness(0.7);
}

#sub-title {
    text-align: left;
    font-size: 4rem;
}

